<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">  

    <description>
      Servlet and JSP Examples.
    </description>
    <display-name>Servlet and JSP Examples</display-name>


    <servlet>
      <servlet-name>GenericServletAdd</servlet-name>
      <servlet-class>GenericServletAdd</servlet-class>
    </servlet>
    

    <servlet-mapping>
        <servlet-name>GenericServletAdd</servlet-name>
        <url-pattern>/abc</url-pattern>
    </servlet-mapping>
    
        <servlet>
          <servlet-name>MyGenericServlet</servlet-name>
          <servlet-class>MyGenericServlet</servlet-class>
        </servlet>
        
    
        <servlet-mapping>
            <servlet-name>MyGenericServlet</servlet-name>
            <url-pattern>/MyGenericServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
              <servlet-name>GenericServletSq</servlet-name>
              <servlet-class>GenericServletSq</servlet-class>
            </servlet>
            
        
            <servlet-mapping>
                <servlet-name>GenericServletSq</servlet-name>
                <url-pattern>/xyz</url-pattern>
    </servlet-mapping>
    
    <servlet>
                  <servlet-name>LoginServlet</servlet-name>
                  <servlet-class>LoginServlet</servlet-class>
                </servlet>
                
            
                <servlet-mapping>
                    <servlet-name>LoginServlet</servlet-name>
                    <url-pattern>/you</url-pattern>
    </servlet-mapping>
    <servlet>
                      <servlet-name>Insert</servlet-name>
                      <servlet-class>Insert</servlet-class>
                    </servlet>
                    
                
                    <servlet-mapping>
                        <servlet-name>Insert</servlet-name>
                        <url-pattern>/myinsert</url-pattern>
    </servlet-mapping>
    <servlet>
                          <servlet-name>Delete</servlet-name>
                          <servlet-class>Delete</servlet-class>
                        </servlet>
                        
                    
                        <servlet-mapping>
                            <servlet-name>Delete</servlet-name>
                            <url-pattern>/mydelete</url-pattern>
    </servlet-mapping>
    <servlet>
                              <servlet-name>Search</servlet-name>
                              <servlet-class>Search</servlet-class>
                            </servlet>
                            
                        
                            <servlet-mapping>
                                <servlet-name>Search</servlet-name>
                                <url-pattern>/mysearch</url-pattern>
    </servlet-mapping>
     <servlet>
                                  <servlet-name>UpdateServlet</servlet-name>
                                  <servlet-class>UpdateServlet</servlet-class>
                                </servlet>
                                
                            
                                <servlet-mapping>
                                    <servlet-name>UpdateServlet</servlet-name>
                                    <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
 
 <servlet>
                                   <servlet-name>ShowServlet</servlet-name>
                                   <servlet-class>ShowServlet</servlet-class>
                                 </servlet>
                                 
                             
                                 <servlet-mapping>
                                     <servlet-name>ShowServlet</servlet-name>
                                     <url-pattern>/myshow</url-pattern>
     </servlet-mapping>
</web-app>
